{% extends 'base.html' %}

{% block body %}

<div class="container mt-2 mb-2">
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <!-- DIV FORM -->
        <div class="border p-4">
            <legend>Atualizar ASO's em Massa</legend>
            <div class="accordion" id="accordion01">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <b>Instruções</b>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion01">
                        <div class="accordion-body">
                            <p>Essa tela serve para atualizar os Status dos ASOs em Massa usando arquivos <b>CSV</b>.</p>
                            <p>O separador do CSV deve ser "<b>;</b>" (ponto e virgula).</p>

                            <p>Colunas:</p>
                            <ul>
                                <li><b>id_ficha</b>: Tipo: Números Inteiros, Permite nulos: Não, Obrigatória: Sim</li>
                                <li><b>id_status</b>: Tipo: Números Inteiros, Permite nulos: Não, Obrigatória: Sim</li>
                                <li><b>data_recebido</b>: Tipo: Data (dd/mm/yyyy), Permite nulos: Sim, Obrigatória: Não</li>
                                <li><b>obs</b>: Tipo: Texto, Permite nulos: Sim, Obrigatória: Não</li>
                                
                            </ul>
                            
                            <p>Essas são as únicas colunas permitidas dentro do arquivo. Outras colunas serão ignoradas.</p>
                            <p>
                                Se as regras para cada coluna não forem seguidas, o sistema retornará 
                                um aviso de erro e as atualizações solicitadas serão canceladas.
                            </p>

                            <p>
                                Se houver IDs de ASOs que não foram encontrados, eles serão ignorados 
                                e os outros serão atualizados normalmente. O sistema retornará uma mensagem de erro
                                com a quantidade de ASOs não encontrados.
                            </p>

                            <p><b>Status Disponíveis</b></p>
                            <table class="table table-sm small_font w-50">
                                <th>ID Status</th>
                                <th>Nome Status</th>
                                {% for status in lista_status %}
                                    <tr>
                                        <td>{{status.id_status}}</td>
                                        <td>{{status.nome_status}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <fieldset>
                <div class="form-group mt-2">
                    {% if form.csv.errors %}
                        {{ form.csv(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.csv.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.csv(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>

            <!-- BOTOES -->
            <div class="d-flex mt-3 justify-content-between">
                <button type="button" class="btn btn-success text-nowrap" style="width: fit-content;" data-bs-toggle="modal" data-bs-target="#submit_update">
                    <span class="material-icons align-middle">upload</span> Atualizar
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="submit_update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Atualização em Massa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <div class="modal-body">
                                <p><b>Atenção:</b></p> 
                                <p>Você está prestes a atualizar uma grande quantidade de ASOs.</p>
                                <p>Garanta que os dados do CSV estejam corretos.</p>
                                <p>Esta ação não pode ser desfeita.</p>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger" id="btn_upload">Atualizar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>


{% endblock %}

