{% extends 'form_base.html' %}

{% from 'macros.html' import render_form_field, render_edit_buttons, render_checkbox_field %}

{% block fieldset %}
    <span>
        <b>Empresa Principal:</b> 
        {{ empresa.empresa_principal.nome }} #{{ empresa.empresa_principal.cod }}
    </span><br>

    <span><b>Nome:</b> {{ empresa.razao_social }}</span><br>

    <div class="d-flex justify-content-between">
        <span><b>ID:</b> {{ empresa.id_empresa }}</span>
        <span><b>Cód SOC:</b> {{ empresa.cod_empresa }}</span>
        <span><b>UF:</b> {{ empresa.uf }}</span>
    </div>

    <span><b>Status:</b>
        {% if empresa.ativo %}
        <span class="badge bg-success align-middle">Ativa</span>
        {% else %}
            <span class="badge bg-secondary align-middle">Inativa</span>
        {% endif %}
    </span>

    <hr>

    <b>Relatórios E-mail</b> <br>
    <span>Configure os relatórios que esta 
        Empresa irá receber por E-mail</span>
        <br> <br>

    <b>Convocação de Exames</b>
    <div class="input-group mb-3">
        <div class="input-group-text">
            {{ render_checkbox_field(form.conv_exames, render_label=False) }}
        </div>
        {{ render_form_field(form.conv_exames_emails, render_label=False) }}
    </div>

    <b>Exames Realizados</b>
    <div class="input-group mb-3">
        <div class="input-group-text">
            {{ render_checkbox_field(form.exames_realizados, render_label=False) }}
        </div>
        {{ render_form_field(form.exames_realizados_emails, render_label=False) }}
    </div>

    <b>Absenteísmo</b>
    <div class="input-group mb-3">
        <div class="input-group-text">
            {{ render_checkbox_field(form.absenteismo, render_label=False) }}
        </div>
        {{ render_form_field(form.absenteismo_emails, render_label=False) }}
    </div>

    <b>Mandatos CIPA</b>
    <div class="mb-3">
        <div class="d-flex justify-content-between my-2">
            <div>{{ render_checkbox_field(form.cipa_erros) }}</div>
            <div>{{ render_checkbox_field(form.cipa_venc) }}</div>
        </div>
        {{ render_form_field(form.cipa_emails, render_label=False) }}
    </div>

    <span>Obs: para mais de um e-mail, separe-os por ";" (ponto e vírgula)</span>

    <hr>

    <b>Importação de Dados</b> <br>
    <span>Configure quais dados dessa Empresa 
        devem ser importados do SOC</span>
        <br> <br>

    {{ render_checkbox_field(form.load_cipa) }}

    <hr>

    <b>Central de Avisos</b> <br>
    <span>Use essa seção para configurações
        relacionadas à <b>Central de Avisos</b>
    </span>
    <br> <br>

    <b>Domínios de E-mail da Empresa</b> <br>
    <span>
        Inclua aqui os dominios que devem ser permitidos ao 
        cadastrar e-mails para esta Empresa e suas Unidades
    </span>
    {{ render_form_field(form.dominios_email, render_label=False) }}

    <br>

    <span>Obs:</span> <br>
    <ul>
        <li>Para mais de um domínio, separe-os por ";" (ponto e vírgula)</li>
        <li>Não inclua <b>@</b> (arroba) nos dominios, apenas a parte após o <b>@</b></li>
    </ul>

    <span><b>Cadastro E-mail de Unidades</b></span> <br>

    <span>
        O <b>link</b> abaixo serve para que os colaboradores das <b>Unidades</b> desta Empresa possam 
        cadastrar seus E-mails e receber os relatórios gerados pelo Connect. 
        Cada <b>Empresa</b> tem um link único que permite cadastrar e-mails em todas as suas <b>Unidades</b>.
    </span>

    <br> <br>

    <span>
        Compartilhe este <b>link</b> com a Empresa caso precisem atualizar os 
        destinatários dos relatórios.
    </span>

    <br> <br>

    <span>
        <b>Link:</b> 
        {% if empresa.central_avisos_token %} 
            <span>
                <u>{{ request.root_url[:-1] }}{{ url_for('central_avisos.unidades', token=empresa.central_avisos_token) }}</u>
            </span>
        {% endif %}
    </span>

    <hr>

    <div class="d-flex justify-content-between">
        <span>
            <b>Data Inclusão:</b> 
            {{ empresa.data_inclusao.strftime('%d/%m/%Y') }}
        </span>
        <span>
            <b>Last Server Update:</b> 
            {% if empresa.last_server_update %}
                {{ empresa.last_server_update.strftime('%d/%m/%Y') }}
            {% endif %}
        </span>
    </div>

    <div class="d-flex justify-content-between">
        <span>
            <b>Data Alteração:</b> 
            {% if empresa.data_alteracao %}
                {{ empresa.data_alteracao.strftime('%d/%m/%Y') }}
            {% endif %}
        </span>
        <span>
            <b>Alterado por:</b> 
            {% if empresa.alterado_por %}
                {{ empresa.alterado_por }}
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block buttons %}
    {{ render_edit_buttons() }}
{% endblock %}

{% block scripts %}
<script>
    window.onload =  function disableFields(){
        const campos = document.getElementsByTagName("input");
        for(let i = 0; i < campos.length; i++){
            campos[i].disabled = true;
        };
    };

    function enableFields(){
        const campos = document.getElementsByTagName("input");
        for(let i = 0; i < campos.length; i++){
            campos[i].disabled = false;
        };

        document.getElementById("botao_editar").hidden = true;
        document.getElementById("botao_voltar").hidden = true;

        document.getElementById("botao_cancelar").hidden = false;
        document.getElementById("botao_salvar").hidden = false;
    };
</script>
{% endblock %}