{% extends 'base.html' %}


{% block body %}

<div class="container mt-2">
    <!--  form atualizar status -->
    <form method="POST">
        {{ form.csrf_token }}
        <!-- DIV FORM -->
        <div class="border p-4">
            <div class="d-flex">
                <legend>Ativar/Desativar Conv Exames Unidades</legend>
                <img src="{{ url_for('static', filename='logos/logo_grs.png') }}" alt="Icone GRS" height="30px" width="70px">
            </div>
            <p>Selecione quais Unidades irão realizar Convocação de Exames</p>
            <p>É necessário que a Unidade tenha um ou mais emails cadastrados para receber os Relatórios automaticamente</p>
            <fieldset>
                <!-- Conv exames -->
                <div class="form-group">
                    {{ form.conv_exames.label(class="form-control-label") }}
                    {% if form.conv_exames.errors %}
                        {{ form.conv_exames(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.conv_exames.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.conv_exames(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <!-- BOTOES -->
            <div class="d-flex mt-3 justify-content-between">
                <a href="{{ url_for('buscar_conv_unidades') }}" id="botao_voltar">
                    <button type="button" class="btn btn-info text-nowrap mt-2" style="width: fit-content;">
                        <span class="material-icons align-middle">arrow_back</span> Voltar
                    </button>
                </a>
                <button type="submit" class="btn btn-primary text-nowrap" id="botao_salvar" style="width: fit-content;" name="botao_salvar" type="submit" value="Salvar">
                    <span class="material-icons align-middle">save</span> Aplicar
                </button>
            </div>
        </div>
        <br>
        <!-- DIV TABELA -->
        <div>
            <table class="table table-hover table-sm table-bordered small_font">
                <thead>
                    <tr>
                        <th>Sim</th>
                        <th>Não</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{sim}}</td>
                        <td>{{nao}}</td>
                        <td>{{total}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- tabela de resultados -->
            <table class="table table-hover table-sm table-bordered small_font">
                <!-- CABECALHO -->
                <thead>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox" onclick="toggleCheckBoxes(this, 'checkItem')">
                        </td>
                        <th scope="col">Cód. Unidade</th>
                        <th scope="col" style="width:55%">Nome Unidade</th>
                        <th scope="col" style="width:15%">Emails</th>
                        <th scope="col">Conv. Exames</th>
                    </tr>
                </thead>
                <!-- CORPO -->
                <tbody>
                    {% for unidade in busca %}
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value={{ unidade.id_unidade }} name="checkItem">
                            </td>
                            <td>{{ unidade.cod_unidade }}</td>
                            <td><input type="text" readonly tabindex="-1" class="form-control-plaintext p-0" value="{{ unidade.nome_unidade}}"></td>
                            <td><input type="text" readonly tabindex="-1" class="form-control-plaintext p-0" value="{{ unidade.emails }}"></td>
                            <td>
                                {% if unidade.conv_exames %}
                                    <span style="color:green; font-weight:bold">Sim</span>
                                {% else %}
                                    <span style="color:red; font-weight:bold">Não</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>


{% endblock %}