{% extends "base/base_default.html" %}

{% from "macros.html" import render_form_field, render_checkbox_field %}

{% block body %}
<div class="container justify-content-center d-flex mt-2">
    <div class="card p-4">
        <form method="POST">
            {{ form.csrf_token }}
            <legend>Configurações do Usuário</legend>
            <fieldset>
                <div class="my-3">{{ render_checkbox_field(form.ativo) }}</div>
                {{ render_form_field(form.tipo_usuario) }}
            </fieldset>
            <div class="d-flex justify-content-between">
                <a href="{{ url_for('usuario.listar_usuarios') }}" id="botao_voltar">
                    <button type="button" class="btn btn-info text-white text-nowrap mt-2" style="width: fit-content;">
                        <span class="material-icons align-middle">arrow_back</span> Voltar
                    </button>
                </a>
                <button type="submit" id="botao_salvar" class="btn btn-primary text-nowrap mt-2">
                    <span class="material-icons align-middle">save</span> Salvar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}