{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <h1>{{ grupo.nome_grupo }}</h1>
        <form method="POST" class="border p-4">
            {{ form.csrf_token }}
            <legend>Editar Empresas - SOCNET</legend>
            <fieldset>
                <div class="form-group">
                    {% if form.select.errors %}
                    {{ form.select(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.select.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.select(class="form-control", size='7', multiple=True) }}
                    {% endif %}
                    <!-- dual list box -->
                    <script>
                        var box = $('#dualListBox').bootstrapDualListbox({
                            selectedListLabel: 'Incluir',
                            nonSelectedListLabel: 'Remover',
                            filterTextClear: 'Limpar',
                            filterPlaceHolder: 'Filtrar',
                            nonSelectedListLabel: 'Remover',
                            selectedListLabel: 'Incluir',
                            preserveSelectionOnMove: 'moved',
                            moveOnSelect: false,
                            moveSelectedLabel: 'Incluir',
                            removeSelectedLabel: 'Remover',
                            moveAllLabel: 'Incluir todos',
                            removeAllLabel: 'Remover todos',
                            infoTextEmpty: 'Vazio',
                            infoText: 'Mostrando todos {0}',
                            infoTextFiltered: 'Filtrando de {0} a {1}'
                        });
                    </script>
                </div>
            </fieldset>
            <div class="d-flex justify-content-between">
                {{ form.botao_salvar(class="btn btn-success mt-2") }}
            </div>
        </form>
    </div>

{% endblock %}