{% extends 'base.html' %}

{% block body %}

<div class="container justify-content-center d-flex mt-2">
    <div class="card p-4">
        <form method="POST" id="formBusca">
            {{ form.csrf_token }}
            <div class="d-flex">
                <legend>Buscar ASO</legend>
                <img src="{{ url_for('static', filename='images/logo_socnet.png') }}" alt="Icone SOCNET" height="25px" width="100px">
            </div>
            <div class="form-group form-check form-switch">
                {{ form.pesquisa_geral(class="form-check-input", id="flexSwitch") }}
                {{ form.pesquisa_geral.label(class="form-check-label", for="flexSwitch") }}
            </div>
            <fieldset>
                <div class="form-group">
                    {{ form.cod_empresa_principal.label(class="form-control-label") }}
                    {% if form.cod_empresa_principal.errors %}
                        {{ form.cod_empresa_principal(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.cod_empresa_principal.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cod_empresa_principal(class="form-control") }}
                    {% endif %}
                </div>

                <div class="d-flex justify-content-between">
                    <div class="form-group w-49">
                        {{ form.data_inicio.label(class="form-control-label") }}
                        {% if form.data_inicio.errors %}
                            {{ form.data_inicio(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form.data_inicio.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.data_inicio(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group w-49">
                        {{ form.data_fim.label(class="form-control-label") }}
                        {% if form.data_fim.errors %}
                            {{ form.data_fim(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form.data_fim.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.data_fim(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="form-group w-49">
                        {{ form.id_status.label(class="form-control-label") }}
                        {% if form.id_status.errors %}
                            {{ form.id_status(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                {% for erro in form.id_status.errors %}
                                    {{ erro }}
                                {% endfor %}
                                </div>
                        {% else %}
                            {{ form.id_status(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group w-49">
                        {{ form.id_status_rac.label(class="form-control-label") }}
                        {% if form.id_status_rac.errors %}
                            {{ form.id_status_rac(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form.id_status_rac.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.id_status_rac(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.seq_ficha.label(class="form-control-label") }}
                    {% if form.seq_ficha.errors %}
                        {{ form.seq_ficha(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                            {% for erro in form.seq_ficha.errors %}
                                {{ erro }}
                            {% endfor %}
                            </div>
                    {% else %}
                        {{ form.seq_ficha(class="form-control") }}
                    {% endif %}
                </div>

                <div class="accordion mt-3" id="accordion01">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <b>Mais opções</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion01">
                            <div class="accordion-body">
                                <div class="form-group">
                                    {{ form.id_empresa.label(class="form-control-label") }}
                                    {% if form.id_empresa.errors %}
                                        {{ form.id_empresa(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for erro in form.id_empresa.errors %}
                                            {{ erro }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.id_empresa(class="form-control") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.id_prestador.label(class="form-control-label") }}
                                    {% if form.id_prestador.errors %}
                                        {{ form.id_prestador(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for erro in form.id_prestador.errors %}
                                                {{ erro }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.id_prestador(class="form-control") }}
                                    {% endif %}
                                </div>

                                <div class="d-flex justify-content-between">
                                    <div class="form-group w-49">
                                        {{ form.nome_funcionario.label(class="form-control-label") }}
                                        {% if form.nome_funcionario.errors %}
                                            {{ form.nome_funcionario(class="form-control is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for erro in form.nome_funcionario.errors %}
                                                        {{ erro }}
                                                    {% endfor %}
                                                    </div>
                                        {% else %}
                                            {{ form.nome_funcionario(class="form-control") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group w-49">
                                        {{ form.obs.label(class="form-control-label") }}
                                        {% if form.obs.errors %}
                                            {{ form.obs(class="form-control is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for erro in form.obs.errors %}
                                                        {{ erro }}
                                                    {% endfor %}
                                                </div>
                                        {% else %}
                                            {{ form.obs(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="d-flex mt-3 justify-content-between">
                <button type="submit" class="btn btn-primary text-nowrap" style="width: fit-content;" name="btn_buscar">
                    <span class="material-icons align-middle">manage_search</span> Buscar
                </button>
                <button type="submit" class="btn btn-success text-nowrap" style="width: fit-content;" name="btn_csv">
                    <span class="material-icons align-middle">download</span> Gerar relatório
                </button>
                <button type="submit" class="btn btn-info text-nowrap text-light" style="width: fit-content;" name="btn_emails">
                    <span class="material-icons align-middle">mail</span> Enviar Emails
                </button>
                <button type="button" class="btn btn-secondary text-nowrap" style="width: fit-content;" onclick="limpar()">
                    <span class="material-icons align-middle">close</span> Limpar
                </button>
            </div>
        </form>
        <script>
            function limpar() {
                document.getElementById("formBusca").reset();
                CarregarOpcoesBuscaSOCNET('cod_empresa_principal', 'id_empresa', 'id_prestador', 'flexSwitch');
            }
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                CarregarOpcoesBuscaSOCNET('cod_empresa_principal', 'id_empresa', 'id_prestador', 'flexSwitch');
            })
        </script>
    </div>
</div>

{% endblock %}