{% extends 'login/base.html' %}

{% block body %}

    <style>
        body {
            background-image: url("{{ url_for('static', filename='connect/bg_login.png') }}");
            background-repeat: no-repeat;
            background-size: cover;
        }

        #b1 {
            background-color: #064966;
            border: #064966;
        }

        .navbar {
            display: none;
        }
    </style>

    <div class="login_container">
        <div class="login_card">
            <form method="POST" action="" class="p-4">
                {{ form.csrf_token }}
                <div class="text-center">
                    <img src="{{ url_for('static', filename='connect/banner_color.svg') }}" alt="Logo Connect" height="50%" width="90%">
                </div>
                <fieldset>
                <!-- otp -->
                <div class="form-group mt-2 mb-2">
                    {% if form.otp.errors %}
                        {{ form.otp(class="form-control is-invalid", placeholder="Chave de Acesso") }}
                        <div class="invalid-feedback">
                            {% for erro in form.otp.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.otp(class="form-control", placeholder="Chave de Acesso") }}
                    {% endif %}
                </div>
                </fieldset>
                {{ form.botao_login(class="btn btn-primary mt-2 w-100", id="b1")}}
            </form>
        </div>
    </div>

{% endblock %}