{% extends 'login/base.html' %} {% from "macros.html" import render_form_field%}
{% block body %}
<div id="login-container">
    <div id="login-card">
        <form method="POST" action="" class="p-4">
            {{ form_login.csrf_token }}
            <div class="justify-content-center text-center">
                <img
                    id="connect-logo"
                    src="{{ url_for('static', filename='logos/connect.png') }}"
                    alt="Logo Connect"
                    height="50%"
                    width="90%"
                />
            </div>
            <fieldset>
                <div class="form-group my-2">
                    {{ render_form_field(form_login.username,
                    render_label=False, kwargs={"placeholder": "Usuário"}) }}
                </div>
                <div class="form-group">
                    {{ render_form_field(form_login.senha, render_label=False,
                    kwargs={"placeholder": "Senha"}) }}
                </div>
            </fieldset>
            {{ form_login.botao_login(class="btn mt-2 text-light w-100",
            id="btn-login")}}
        </form>
    </div>
</div>
{% endblock %}
