{% extends 'base.html' %}

{% from 'macros.html' import render_pagination %}

{% block body %}
<div class="mx-5 my-2">
    <form method="POST">
        {{ form.csrf_token }}
        <div class="border p-4">
            <div class="d-flex">
                <legend>Enviar Emails</legend>
                <img src="{{ url_for('static', filename='logos/logo_grs.png') }}" alt="Icone GRS" height="30px" width="70px">
            </div>
            <fieldset>
                <div class="form-group">
                    {{ form.assunto_email.label(class="form-control-label") }}
                    {% if form.assunto_email.errors %}
                        {{ form.assunto_email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.assunto_email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.assunto_email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email_copia.label(class="form-control-label") }}
                    {% if form.email_copia.errors %}
                        {{ form.email_copia(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.email_copia.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email_copia(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.obs_email.label(class="form-control-label") }}
                    {% if form.obs_email.errors %}
                        {{ form.obs_email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.obs_email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.obs_email(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="d-flex mt-3 justify-content-between">
                <a href="{{ url_for('busca') }}" id="botao_voltar">
                    <button type="button" class="btn btn-info text-nowrap" style="width: fit-content;">
                        <span class="material-icons align-middle">arrow_back</span> Voltar
                    </button>
                </a>
                <button type="submit" class="btn btn-primary text-nowrap" style="width: fit-content;" id="botao_salvar" name="botao_salvar" type="submit" value="Salvar">
                    <span class="material-icons align-middle">mail</span> Enviar
                </button>
            </div>
        </div>

        <div>
            <div class="d-flex justify-content-between my-3">
                <b>Total: {{ total }}</b>
                {% if busca.pages > 1 %}
                    {{ render_pagination(busca, 'enviar_emails', url_args) }}
                {% endif %}
                <span>Exibindo: <b>{{ results_per_page }}</b> resultados/pag</span>
            </div>
            <table class="table table-sm table-striped small_font">
                <thead>
                    <tr>
                        <td><input class="form-check-input" type="checkbox" id="checkAll" onchange="toggleCheckBoxes(this, 'checkItem')"></td>
                        <th scope="col">Ficha</th>
                        <th scope="col">Funcionario</th>
                        <th scope="col">Pedido Exames</th>
                        <th scope="col">ASO</th>
                        <th scope="col">RAC</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in busca.items %}
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="{{ pedido.id_ficha }}" id="checkItem" name="checkItem">
                            </td>
                        
                            <td>
                                Tag: <span class="badge {{pedido.status_lib.cor_tag}} align-middle">{{pedido.status_lib.nome_status_lib}}</span> <br>
                                <span class="text-nowrap">Seq: <b>{{pedido.seq_ficha}}</b></span> <br>
                                <span class="text-nowrap">Tipo: <b>{{pedido.tipo_exame.nome_tipo_exame}}</b></span> <br>
                                <span class="text-nowrap">Data: {{pedido.data_ficha.strftime('%d/%m/%Y')}}</span>
                            </td>
                        
                            <td>
                                Nome: <a tabindex="-1" class="link-pedido" href="{{ url_for('pedido_editar', id_ficha=pedido.id_ficha) }}"><b>{{pedido.nome_funcionario}}</b></a> <span class="fw-lighter">#{{pedido.cod_funcionario}}</span> <br>
                                CPF: {{pedido.cpf}}
                            </td>
                        
                            <td>
                                Empresa: {{pedido.empresa.razao_social}} <span class="fw-lighter">#{{pedido.empresa.cod_empresa}}</span> <br>
                                Prestador: <b>{{pedido.prestador.nome_prestador}}</b> <span class="fw-lighter">#{{pedido.prestador.cod_prestador}}</span>
                            </td>
                        
                            <td>
                                <span class="text-nowrap">Status: <b>{{pedido.status.nome_status}}</b></span> <br>
                                <span class="text-nowrap">Previsão: {{pedido.prev_liberacao.strftime('%d/%m/%Y')}}</span> <br>
                                <span class="text-nowrap">Recebido: {% if pedido.data_recebido %}{{pedido.data_recebido.strftime('%d/%m/%Y')}}{% endif %}</span> <br>
                                <span class="text-nowrap">Compareceu: {% if pedido.data_comparecimento %}{{pedido.data_comparecimento.strftime('%d/%m/%Y')}}{% endif %}</span>
                            </td>
                        
                            <td>
                                <span class="text-nowrap">Status: <b>{{pedido.status_rac.nome_status}}</b></span>
                            </td>
                        
                            <td class="align-middle">
                                {% if pedido.obs %}
                                    <span class="material-icons align-middle mx-2" style="font-size:medium; cursor: help" data-bs-toggle="tooltip" data-bs-title="{{pedido.obs}}">info</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center mb-4">{% if busca.pages > 1 %}{{ render_pagination(busca, 'enviar_emails', url_args) }}{% endif %}</div>
        </div>
    </form>
</div>
{% endblock %}

