{% extends 'base.html' %}

{% block body %}
<div class="mx-5 my-2">
    <form method="POST">
        {{ form.csrf_token }}
        <div class="border p-4">
            <div class="d-flex">
                <legend>Gerar RTCS (Manserv)</legend>
                <img src="{{ url_for('static', filename='images/grs/logo_grs.png') }}" alt="Icone GRS" height="30px" width="70px">
            </div>

            <div class="d-flex mt-3 justify-content-between">
                <a href="{{ url_for('busca_rtc') }}" id="botao_voltar">
                    <button type="button" class="btn btn-info text-nowrap" style="width: fit-content;">
                        <span class="material-icons align-middle">arrow_back</span> Voltar
                    </button>
                </a>
                <button type="submit" class="btn btn-primary text-nowrap" style="width: fit-content;" id="botao_salvar" name="botao_salvar" type="submit" value="Salvar">
                    <span class="material-icons align-middle">folder_zip</span> Gerar
                </button>
            </div>
        </div>

        <div>
            <p>Total: {{ total }}</p>
            <table class="table table-sm table-striped small_font">
                <thead>
                    <tr>
                        <td><input class="form-check-input" type="checkbox" id="checkAll" onchange="toggleCheckBoxes(this, 'checkItem')"></td>
                        <th scope="col">Ficha</th>
                        <th scope="col">Funcionario</th>
                        <th scope="col">Pedido Exames</th>
                        <th scope="col">ASO</th>
                        <th scope="col">RAC</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in busca %}
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="{{ pedido.id_ficha }}" id="checkItem" name="checkItem">
                            </td>
                        
                            <td>
                                Tag: <span class="badge {{pedido.cor_tag}} align-middle">{{pedido.nome_status_lib}}</span> <br>
                                <span class="text-nowrap">Seq: <b>{{pedido.seq_ficha}}</b></span> <br>
                                <span class="text-nowrap">Tipo: <b>{{pedido.nome_tipo_exame}}</b></span> <br>
                                <span class="text-nowrap">Data: {{pedido.data_ficha.strftime('%d/%m/%Y')}}</span>
                            </td>
                        
                            <td>
                                Nome: <a tabindex="-1" class="link-pedido" href="{{ url_for('pedido_editar', id_ficha=pedido.id_ficha) }}"><b>{{pedido.nome_funcionario}}</b></a> <span class="fw-lighter">#{{pedido.cod_funcionario}}</span> <br>
                                CPF: {{pedido.cpf}}
                            </td>
                        
                            <td>
                                Empresa: {{pedido.razao_social}} <span class="fw-lighter">#{{pedido.cod_empresa}}</span> <br>
                                Prestador: <b>{{pedido.nome_prestador}}</b> <span class="fw-lighter">#{{pedido.cod_prestador}}</span>
                            </td>
                        
                            <td>
                                <span class="text-nowrap">Status: <b>{{pedido.nome_status}}</b></span> <br>
                                <span class="text-nowrap">Previsão: {{pedido.prev_liberacao.strftime('%d/%m/%Y')}}</span> <br>
                                <span class="text-nowrap">Recebido: {% if pedido.data_recebido %}{{pedido.data_recebido.strftime('%d/%m/%Y')}}{% endif %}</span> <br>
                                <span class="text-nowrap">Compareceu: {% if pedido.data_comparecimento %}{{pedido.data_comparecimento.strftime('%d/%m/%Y')}}{% endif %}</span>
                            </td>
                        
                            <td>
                                <span class="text-nowrap">Status: <b>{{pedido.nome_status_rac}}</b></span>
                            </td>
                        
                            <td class="align-middle">
                                {% if pedido.obs %}
                                    <span class="material-icons align-middle mx-2" style="font-size:medium; cursor: help" data-bs-toggle="tooltip" data-bs-title="{{pedido.obs}}">info</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
{% endblock %}

