{% extends 'form_base.html' %}

{% from 'macros.html' import render_form_field, render_search_buttons %}

{% block fieldset %}
    {{ render_form_field(form.cod_empresa_principal, kwargs={"onchange":"carregarOpcoesEmpresa2('cod_empresa_principal', 'id_empresa', 'empresas_ativas')"}) }}
    {{ render_form_field(form.empresas_ativas, kwargs={"onchange":"carregarOpcoesEmpresa2('cod_empresa_principal', 'id_empresa', 'empresas_ativas')"}) }}
    {{ render_form_field(form.id_empresa) }}
    <div class="d-flex justify-content-between">
        <div class="w-49">{{ render_form_field(form.data_inicio) }}</div>
        <div class="w-49">{{ render_form_field(form.data_fim) }}</div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="w-49">{{ render_form_field(form.cod_solicitacao) }}</div>
        <div class="w-49">{{ render_form_field(form.resultado_importado) }}</div>
    </div>
    {{ render_form_field(form.obs) }}
{% endblock %}

{% block buttons %}
    {{ render_search_buttons() }}
{% endblock %}

{% block scripts %}
    <script>
        function limpar() {
            document.getElementById("formBusca").reset();
            carregarOpcoesEmpresa2('cod_empresa_principal', 'id_empresa', 'empresas_ativas');
        }
    </script>
    <script>
        window.onload = document.getElementById('id_empresa').innerHTML = '<option value="">Selecione uma Empresa Principal</option>'
    </script>
{% endblock %}
