{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1>Pedidos de Processamento Assincrono</h1>
    <div class="accordion my-2" id="accordion01">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <b>Como funciona</b>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion01">
                <div class="accordion-body">
                    <p>1. A solicitação do processamento é realizada através do Web Service Solicitação de Processamento Assíncrono, informando a empresa, tipo de processamento desejado e respectivos parâmetros.</p>
                    <p>2. A solicitação é adicionada à fila, para que sejam executados a partir da <b>01h00 do dia subsequente</b>.</p>
                    <p>3. O SOC retorna o <b>código do processamento</b>, que será usado para importar os dados processados quando estiverem prontos.</p>
                    <p>Referência:</p>
                    <p>SOC: 280 - Manual de Procedimentos > 156.1 Processamento Assíncrono</p>
                </div>
            </div>
        </div>
    </div>

    <h5>Qtd Pedidos: {{ total }}</h5>
    <table class="table table-sm table-striped small_font">
        <thead>
            <tr>
                <th scope="col">Pedido Proc</th>
                <th scope="col">Empresa</th>
                <th scope="col">Status</th>
                <th scope="col" style="width: 20%;">Parâmetro</th>
                <th scope="col">Obs</th>
                <th scope="col">Relatórios</th>
            </tr>
        </thead>
        <tbody>
            {% for ped_proc in query %}
                <tr>
                    <td style="white-space: nowrap;">
                        ID: {{ ped_proc.id_proc}} <br>
                        Número do Pedido: <b>{{ped_proc.cod_solicitacao}}</b> <br>
                        Data criação: <b>{{ped_proc.data_criacao.strftime('%d/%m/%Y')}}</b>
                    </td>
                    <td>
                        {{ped_proc.empresa.razao_social}} <span class="fw-lighter">#{{ ped_proc.empresa.cod_empresa }}</span>
                        {% if ped_proc.empresa.ativo %}
                            <span class="badge bg-success align-middle">Ativa</span>
                        {% else %}
                            <span class="badge bg-secondary align-middle">Inativa</span>
                        {% endif %}
                    </td>
                    <td style="white-space: nowrap;">
                        Importado: 
                        <b>{% if ped_proc.resultado_importado %}Sim{% else %}Não{% endif %}</b>
                    </td>
                    <td style="font-size: 10px;">
                        <div style="overflow:scroll; height: 50px">{{ped_proc.parametro}}</div>
                    </td>
                    <td class="align-middle">
                        {% if ped_proc.obs %}
                            <span class="material-icons" style="font-size: 14px;" data-bs-toggle="tooltip" data-bs-title="{{ped_proc.obs}}">info</span>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        <a href="{{ url_for('conv_exames.pag_pedido_proc', id_proc=ped_proc.id_proc) }}">
                            <button type="button" class="btn btn-primary text-nowrap" style="width: fit-content;">
                                <span class="material-icons align-middle">description</span> Relatórios
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}