{% extends 'base.html' %}

{% block body %}

<div class="container justify-content-center d-flex mt-2">
    <div class="card p-4">
        <form method="POST">
            {{ form.csrf_token }}
            <legend>Alterar Chave</legend>
            <fieldset>
                <!-- CHAVE -->
                <div class="form-group">
                    {{ form.chave.label(class="form-control-label") }}
                    {% if form.chave.errors %}
                    {{ form.chave(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for erro in form.chave.errors %}
                        {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.chave(class="form-control") }}
                    {% endif %}
                </div>
                <!-- CONFIRMAR CHAVE -->
                <div class="form-group">
                    {{ form.confirmacao_chave.label(class="form-control-label") }}
                    {% if form.confirmacao_chave.errors %}
                    {{ form.confirmacao_chave(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for erro in form.confirmacao_chave.errors %}
                        {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirmacao_chave(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="d-flex justify-content-between">
                <a href="{{ url_for('usuarios') }}" id="botao_voltar">
                    <button type="button" class="btn btn-info text-nowrap mt-2" style="width: fit-content;">
                        <span class="material-icons align-middle">arrow_back</span> Voltar
                    </button>
                </a>
                <button type="submit" id="botao_salvar" class="btn btn-primary text-nowrap mt-2">
                    <span class="material-icons align-middle">save</span> Salvar
                </button>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}