{% extends 'base.html' %}

{% block body %}

    <div class="container mt-2">
        <h1>Manual de integração</h1>
        <hr>
        <h5>Token (methods = ['GET'])</h5>
        Para utilizar a API é necessário gerar um <b>token</b> de acesso.<br>
        Acesse <b>"Meu perfil > Alterar chave API"</b> e crie uma senha de uso exclusivo para integrações. <br>
        Após adquirido, o token deve ser enviado como um parametro em todos os requests. <br>
        Um token é válido por até <b>12 horas</b>. <br>
        <br>
        <b>url: </b>https://www.grsmanager.com.br/get_token<br>
        <br>
        <b>Parâmetros:</b>
        <ul>
            <li>username: id do usuário (int)</li>
            <li>password: chave de integração do usuario (str)</li>
        </ul>
        <br>
        <b>Possíveis erros:</b> <br>
        - Gerando um token:
        <ul>
            <li>
                {"message": "Username ou password invalido"}
            </li>
            <li>
                {"message": "Providencie username e password"}
            </li>
        </ul>
        - Validando um token:
        <ul>
            <li>
                {"message": "Token expirado"}
            </li>
            <li>
                {"message": "Token invalido"}
            </li>
            <li>
                {"message": "Providencie um token"}
            </li>
        </ul>
        <br>
        <b>Exemplo:</b> <br>
        - Request: <br>
        <code>
            GET https://www.grsmanager.com.br/get_token?username={username}&password={password}
        </code>
        <br>
        - Response: <br>
        <code>
            {'token': 'yJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6IjEiLCJwYXNzd29'}
        </code>
        <hr>
        <h5>Pedidos - Buscar (methods = ['GET'])</h5>
        <br>
        <b>url: </b>https://www.grsmanager.com.br/get_pedido<br>
        <br>
        <b>Parâmetros:</b>
        <ul>
            <li>seq_ficha: sequencial da ficha (int)</li>
        </ul>
        <b>Possíveis erros:</b> <br>
        <ul>
            <li>
                {"message": "Pedido {seq_ficha} nao encontrado"} - Pedido não encontrado na base de dados
            </li>
        </ul>
        <b>Exemplo:</b> <br>
        - Request: <br>
            <code>
                GET https://www.grsmanager.com.br/get_pedido?token={token}&seq_ficha={seq_ficha}
            </code>
            <br>
        - Response: <br>
        <code>
            <pre>
                {
                    'seq_ficha': 123456789,
                    'cod_funcionario': 123456789,
                    'nome_funcionario': 'FUNCIONARIO TESTE 123',
                    'data_ficha': '2022-07-17',
                    'cod_tipo_exame': 1,
                    'nome_tipo_exame': 'Admissional',
                    'cod_prestador': 12345,
                    'nome_prestador': 'CLINICA TESTE 123',
                    'cod_empresa': 123456,
                    'nome_empresa': 'EMPRESA TESTE 123 LTDA',
                    'id_status': 3,
                    'nome_status': 'Em andamento',
                    'id_grupos': [123, 456],
                    'nome_grupos': ['Grupo Teste 123', Grupo Teste 456],
                    'data_recebido': '2022-07-26',
                    'obs': 'Observação Teste 123',
                    'data_inclusao': '2022-07-26 17:23:03.865103',
                    'data_alteracao': '2022-07-26 17:23:03.865103'
                }
            </pre>
        </code>
        <hr>
        <h5>Pedidos - Atualizar Status (methods = ['PATCH'])</h5>
        <br>
        <b>url: </b>https://www.grsmanager.com.br/patch_pedido<br>
        <br>
        <b>Parâmetros:</b>
        <ul>
            <li>seq_ficha: sequencial da ficha (int) (obrigatório)</li>
            <li>id_status: id do status (int) (obrigatório)</li>
            <li>data_recebido: data de recebimento do ASO (str = "dd-mm-yyyy") (opcional)</li>
            <li>obs: observação sobre o pedido (str) (opcional)</li>
        </ul>
        <b>Possíveis erros:</b> <br>
        <ul>
            <li>{"message": "Formato de data invalido, utilize dd-mm-yyyy"}</li>
            <li>{"message": "Indique uma Id de Status valida"}</li>
            <li>{"message": "Pedido {seq_ficha} não encontrado"}</li>
        </ul>
        <b>Exemplo:</b> <br>
        - Request: <br>
        <code>
            PATCH https://www.grsmanager.com.br/patch_pedido?token={token}&seq_ficha={seq_ficha}&data_recebido={data_recebido}&obs={obs}&id_status{id_status}
        </code>
        <br>
        - Response: <br>
        <code>
            <pre>
                {
                    'message': 'Status atualizado com sucesso',
                    'seq_ficha': 1234567
                    'id_status': 2,
                    'data_recebido': '2022-07-15',
                    'obs': 'Teste 12345',
                }
            </pre>
        </code>
        <hr>
        <h5>Status (methods = ['GET'])</h5>
        <br>
        <b>url: </b>https://www.grsmanager.com.br/get_status<br>
        <br>
        <b>Exemplo:</b> <br>
        - Request: <br>
        <code>
            GET https://www.grsmanager.com.br/get_status
        </code>
        <br>
        - Response: <br>
        <code>
            <pre>
                {
                    1: "Status teste 01",
                    2: "Status teste 02",
                    3: "Status teste 03"
                }
            </pre>
        </code>
    </div>

{% endblock %}