{% extends 'base.html' %}

{% block body %}


<div class="container justify-content-center d-flex my-2">
    <div class="card p-4">
        <form method="POST" id="formEditar">
            {{ form.csrf_token }}
            <div class="d-flex">
                <legend>Criar Empresa</legend>
                <img src="{{ url_for('static', filename='images/grs/logo_grs.png') }}" alt="Icone GRS" height="30px" width="70px">
            </div>
            <fieldset>
                <div class="d-flex justify-content-between">
                    <div class="form-group w-49">
                        {{ form.cod_empresa_principal.label(class="form-control-label") }}
                        {% if form.cod_empresa_principal.errors %}
                            {{ form.cod_empresa_principal(class="form-control is-invalid editavel") }}
                            <div class="invalid-feedback">
                                {% for erro in form.cod_empresa_principal.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.cod_empresa_principal(class="form-control editavel") }}
                        {% endif %}
                    </div>
                    <div class="form-group w-49">
                        {{ form.cod_empresa.label(class="form-control-label") }}
                        {% if form.cod_empresa.errors %}
                            {{ form.cod_empresa(class="form-control is-invalid editavel") }}
                            <div class="invalid-feedback">
                                {% for erro in form.cod_empresa.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.cod_empresa(class="form-control editavel") }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.razao_social.label(class="form-control-label") }}
                    {% if form.razao_social.errors %}
                        {{ form.razao_social(class="form-control is-invalid editavel") }}
                        <div class="invalid-feedback">
                            {% for erro in form.razao_social.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.razao_social(class="form-control editavel") }}
                    {% endif %}

                    <div class="form-group">
                        {{ form.razao_social_inicial.label(class="form-control-label") }}
                        {% if form.razao_social_inicial.errors %}
                            {{ form.razao_social_inicial(class="form-control is-invalid editavel") }}
                            <div class="invalid-feedback">
                                {% for erro in form.razao_social_inicial.errors %}
                                {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.razao_social_inicial(class="form-control editavel") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.nome_abrev.label(class="form-control-label") }}
                        {% if form.nome_abrev.errors %}
                            {{ form.nome_abrev(class="form-control is-invalid editavel") }}
                            <div class="invalid-feedback">
                                {% for erro in form.nome_abrev.errors %}
                                {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.nome_abrev(class="form-control editavel") }}
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-group w-49">
                        {{ form.cnpj.label(class="form-control-label") }}
                        {% if form.cnpj.errors %}
                            {{ form.cnpj(class="form-control is-invalid editavel") }}
                            <div class="invalid-feedback">
                                {% for erro in form.cnpj.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.cnpj(class="form-control editavel") }}
                        {% endif %}
                    </div>
                    <div class="form-group w-49">
                        {{ form.uf.label(class="form-control-label") }}
                        {% if form.uf.errors %}
                            {{ form.uf(class="form-control is-invalid editavel") }}
                            <div class="invalid-feedback">
                                {% for erro in form.uf.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.uf(class="form-control editavel") }}
                        {% endif %}
                    </div>
                </div>
                <!-- EMAILS -->
                <div class="form-group">
                    {{ form.emails.label(class="form-control-label") }}
                    {% if form.emails.errors %}
                    {{ form.emails(class="form-control is-invalid editavel") }}
                    <div class="invalid-feedback">
                        {% for erro in form.emails.errors %}
                        {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.emails(class="form-control editavel") }}
                    {% endif %}
                </div>
                <!-- atv, conv exames -->
                <div class="d-flex justify-content-between my-3">
                    <div>
                        {{ form.ativo(class="form-check-input editavel") }}
                        {{ form.ativo.label(class="form-check-label") }}
                    </div>
                    <div>
                        {{ form.conv_exames(class="form-check-input editavel") }}
                        {{ form.conv_exames.label(class="form-check-label") }}
                    </div>
                </div>
            </fieldset>
            <div class="d-flex justify-content-between">
                <a href="{{ url_for('buscar_empresas') }}" id="botao_voltar">
                    <button type="button" class="btn btn-info text-nowrap mt-2" style="width: fit-content;">
                        <span class="material-icons align-middle">arrow_back</span> Voltar
                    </button>
                </a>
                <button type="submit" id="botao_salvar" class="btn btn-primary text-nowrap mt-2">
                    <span class="material-icons align-middle">save</span> Salvar
                </button>
                <button type="button" id="botao_cancelar" onclick="limpar()" class="btn btn-secondary text-nowrap mt-2" style="width: fit-content;">
                    <span class="material-icons align-middle">close</span> Limpar
                </button>
            </div>
        </form>
    </div>
    <script>
        function limpar() {
            document.getElementById('formEditar').reset();
        }
    </script>

{% endblock %}