{% extends 'base.html' %}

{% block body %}

<div class="d-flex justify-content-center mt-2">
        <div style="width: 55%;">
            <div class="mb-2">
                <a href="{{ url_for('criar_unidade') }}" class="btn btn-outline-success text-nowrap" style="width: fit-content; height: fit-content;">
                    <span class="material-icons align-middle">add</span> Criar
                </a>
            </div>
            <div class="border rounded p-4">
                <form method="POST" id="formBusca">
                    {{ form.csrf_token }}
                    <div class="d-flex">
                        <legend>Buscar Unidades</legend>
                        <img src="{{ url_for('static', filename='logos/logo_grs.png') }}" alt="Icone GRS" height="30px" width="70px">
                    </div>
                    <fieldset>
                        <div class="d-flex mt-3 justify-content-between">
                            
                        </div>
                        <div class="form-group">
                            {{ form.cod_empresa_principal.label(class="form-control-label") }}
                            {% if form.cod_empresa_principal.errors %}
                                {{ form.cod_empresa_principal(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for erro in form.cod_empresa_principal.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.cod_empresa_principal(class="form-control") }}
                            {% endif %}
                        </div>
                        
                        <div class="form-group">
                            {{ form.id_empresa.label(class="form-control-label") }}
                            {% if form.id_empresa.errors %}
                                {{ form.id_empresa(class="form-control is-invalid_empresa") }}
                                    <div class="invalid_empresa-feedback">
                                    {% for erro in form.id_empresa.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.id_empresa(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.id.label(class="form-control-label") }}
                            {% if form.id.errors %}
                                {{ form.id(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for erro in form.id.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.id(class="form-control") }}
                            {% endif %}
                        </div>
        
                        <div class="form-group">
                            {{ form.cod.label(class="form-control-label") }}
                            {% if form.cod.errors %}
                                {{ form.cod(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for erro in form.cod.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.cod(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.nome.label(class="form-control-label") }}
                            {% if form.nome.errors %}
                                {{ form.nome(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form.nome.errors %}
                                    {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.nome(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.ativo.label(class="form-control-label") }}
                            {% if form.ativo.errors %}
                                {{ form.ativo(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form.ativo.errors %}
                                    {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.ativo(class="form-control") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <!-- BOTOES -->
                    <div class="d-flex mt-3 justify-content-between">
                        <button type="submit" class="btn btn-primary text-nowrap" style="width: fit-content;" id="botao_buscar" name="botao_buscar" type="submit" value="Buscar">
                            <span class="material-icons align-middle">manage_search</span> Buscar
                        </button>
                        <button type="button" class="btn btn-secondary text-nowrap" style="width: fit-content;" id="botao_limpar" onclick="limpar()" value="Limpar">
                            <span class="material-icons align-middle">close</span> Limpar
                        </button>
                        <button type="submit" class="btn btn-success text-nowrap" style="width: fit-content;" id="botao_csv" name="botao_csv" value="Criar relatório">
                            <span class="material-icons align-middle">download</span> Gerar relatório
                        </button>
                    </div>
                </form>
                <script>
                    function limpar() {
                        document.getElementById("formBusca").reset();
                    }
                </script>
            </div>
        </div>
</div>

{% endblock %}