{% extends 'base/base_default.html' %}

{% from 'macros.html' import render_form_field %}

{% block body %}
<div class="mx-5 my-2">
    <form method="POST" id="formEmails">
        <div class="border p-4">
            <div class="d-flex">
                <legend>Solicitar ASOs</legend>
                <img src="{{ url_for('static', filename='logos/logo_grs.png') }}" 
                alt="Icone GRS" height="30px" width="70px">
            </div>

            {{ form.csrf_token }}

            <fieldset id="formFields">
                {{ render_form_field(form.assunto_email) }}
                {{ render_form_field(form.email_copia) }}
                {{ render_form_field(form.obs_email) }}
            </fieldset>

            <div class="d-flex mt-3 justify-content-between">
                <a href="{{ url_for('pedido.buscar_pedidos') }}">
                    <button type="button" class="btn btn-info text-white text-nowrap"
                        style="width: fit-content;">
                        <span class="material-icons align-middle">arrow_back</span> Voltar
                    </button>
                </a>
                <button type="button" class="btn btn-secondary text-nowrap" 
                    style="width: fit-content;" onclick="limpar()">
                    <span class="material-icons align-middle">close</span> Limpar
                </button>
                <button type="submit" class="btn btn-primary text-nowrap"
                    style="width: fit-content;">
                    <span class="material-icons align-middle">save</span> Salvar
                </button>
            </div>
        </div>

        {% include "pedido/tab_pedidos.html" %}
    </form>
</div>

<div onclick="scrollToTop()" id="scroll-top" style="right: 5px; padding: 5px">
    <span class="material-icons">arrow_upward</span>
</div>

<script>
    function toggleCheckBoxes(source, checkItemName) {
        checkboxes = document.getElementsByName(checkItemName);
        for(var i=0, n=checkboxes.length; i<n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function limpar() {
        const formFields = [
            "assunto_email",
            "email_copia",
            "obs_email",
        ]

        for (let i = 0; i < formFields.length; i++) {
            let field = document.getElementById(formFields[i]);
            field.value = null;
        }
    }
</script>
{% endblock %}
