{% extends 'base.html' %}

{% block body %}

<div class="container justify-content-center d-flex mt-2">
    <div class="card p-4">
        <form method="POST">
            {{ form.csrf_token }}
            <legend>Criar Exame</legend>
            <fieldset>
                <!-- CODIGO -->
                <div class="form-group">
                    {{ form.cod_exame.label(class="form-control-label") }}
                    {% if form.cod_exame.errors %}
                        {{ form.cod_exame(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.cod_exame.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cod_exame(class="form-control") }}
                    {% endif %}
                </div>
                <!-- NOME -->
                <div class="form-group">
                    {{ form.nome_exame.label(class="form-control-label") }}
                    {% if form.nome_exame.errors %}
                        {{ form.nome_exame(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.nome_exame.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nome_exame(class="form-control") }}
                    {% endif %}
                </div>
                <!-- PRAZO -->
                <div class="form-group">
                    {{ form.prazo.label(class="form-control-label") }}
                    {% if form.prazo.errors %}
                        {{ form.prazo(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.prazo.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.prazo(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            {{ form.botao_salvar(class="btn btn-success mt-2") }}
        </form>
    </div>
</div>

{% endblock %}