{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1>Unidades</h1>
    <h5>Qtd Unidades: {{ qtd }}</h5>
    <table class="table table-sm">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nome</th>
            <th scope="col">Ativo</th>
            <th scope="col">Data Inclusão</th>
            <th scope="col">Data Alteração</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for unidade in lista_unidades %}
                <tr>
                    <td>{{ unidade.id_unidade }}</td>
                    <td>{{ unidade.cod_unidade }}</td>
                    <td><input type="text" readonly class="form-control-plaintext" value="{{ unidade.nome_unidade }}"></td>
                    <td>
                        {% if unidade.ativo %}
                            <span class="material-icons align-middle">done</span> <span style="color:green; font-weight:bold">Sim</span> <br>
                        {% else %}
                            <span class="material-icons align-middle">close</span> <span style="color:red; font-weight:bold">Não</span> <br>
                        {% endif %}
                    </td>
                    <td>{{ unidade.data_inclusao.strftime('%d/%m/%Y') }}</td>
                    {% if unidade.data_alteracao %}
                        <td>{{ unidade.data_alteracao.strftime('%d/%m/%Y') }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('editar_unidade', id_unidade=unidade.id_unidade, cod_empresa_principal=unidade.cod_empresa_principal) }}">
                            <button class="btn btn-sm btn-outline-primary">
                                <span class="material-icons align-middle">edit_note</span> Editar
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}