{% extends 'base.html' %}

{% block body %}

<div class="container justify-content-center d-flex mt-2">
    <div class="card">
        <form method="POST" class="p-4">
            {{ form.csrf_token }}
            <legend>Log de Ações</legend>
            <fieldset>
            <div class="d-flex justify-content-between">
                <!-- INICIO -->
                <div class="form-group w-49">
                    {{ form.data_inicio.label(class="form-control-label") }}
                    {% if form.data_inicio.errors %}
                    {{ form.data_inicio(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for erro in form.data_inicio.errors %}
                        {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.data_inicio(class="form-control") }}
                    {% endif %}
                </div>
                <!-- FIM -->
                <div class="form-group w-49">
                    {{ form.data_fim.label(class="form-control-label") }}
                    {% if form.data_fim.errors %}
                    {{ form.data_fim(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for erro in form.data_fim.errors %}
                        {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.data_fim(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <!-- TABELA -->
            <div class="form-group">
                {{ form.tabela.label(class="form-control-label") }}
                {% if form.tabela.errors %}
                {{ form.tabela(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for erro in form.tabela.errors %}
                    {{ erro }}
                    {% endfor %}
                </div>
                {% else %}
                {{ form.tabela(class="form-control") }}
                {% endif %}
            </div>
            <!-- USUARIO -->
            <div class="form-group">
                {{ form.usuario.label(class="form-control-label") }}
                {% if form.usuario.errors %}
                {{ form.usuario(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for erro in form.usuario.errors %}
                    {{ erro }}
                    {% endfor %}
                </div>
                {% else %}
                {{ form.usuario(class="form-control") }}
                {% endif %}
            </div>
            </fieldset>
            <!-- BOTAO -->
            <button type="submit" class="btn btn-success text-nowrap mt-2 btn-perfil" id="botao_buscar" name="botao_buscar" type="submit" value="Buscar">
                <span class="material-icons align-middle">download</span> Gerar relatório
            </button>
        </form>
    </div>
</div>

{% endblock %}